<!DOCTYPE html>
<html>
<head>
<title>"{{ html_title }}"</title>
</head>
<body>

<h1>Welcome to "{{ server_name }}"</h1>
<p> This is Honeywell assiginment, hope Mahesh is completed. Please provide your feedback </p>

</body>
</html>
